body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

canvas {
  background-color: #000;
}

#score,
#gameCount {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: rgb(16, 204, 100);
}

#gameCount {
  top: 40px;
}
